@model web.Models.RegistrationModel

@{
    ViewData["Title"] = "Регистрация";
}
<div class="text-left text-info">
    <h1>@ViewData["Title"]</h1>
</div>
@using (Html.BeginForm("Registration", "Client"))
{
<p>
    Логин:<br>
    @Html.TextBoxFor(x => x.Login)<br>
    Email: <br>
    @Html.TextBoxFor(x => x.Email)<br>
    Пароль:<br>
    @Html.TextBoxFor(x => x.Password)<br>
    ФИО:<br>
    @Html.TextBoxFor(x => x.ClientFIO)
</p>
    @Html.ValidationSummary(true, "", new { @style = "color: red" })
    <input type="submit" value="Зарегистрироваться" class="btn btn-info btn-sm"/>
}
